@charset "UTF-8";
/* Código creado por Fernando Bruno - Comisión 52170 */
/* reset de página*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

/*estilos en index.html*/
.entrada {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr;
  padding-left: 150px;
  padding-right: 150px; }
  .entrada .cuerpo {
    font-size: 20px; }
  .entrada .vertical {
    display: none; }

.news h2 {
  margin-top: 5px;
  font-weight: bold; }

.news .noticias {
  font-weight: bold; }
  .news .noticias .noticia {
    margin: 20px;
    text-align: center;
    display: inline-block; }
    .news .noticias .noticia p {
      margin-top: 5px; }
      .news .noticias .noticia p:hover {
        /* pseudoclase para .noticia */
        background-color: #bda2a2;
        transition: background-color 0.2s ease-in-out; }
    .news .noticias .noticia img {
      width: 220px;
      height: 165px; }

/* estilos en nosotros.html */
.parte-uno img {
  max-width: 100%;
  height: auto;
  object-fit: cover; }

.parte-uno p {
  font-size: 20px;
  padding-left: 150px;
  padding-right: 150px; }

.parte-uno .imagen-vertical-1 {
  display: none; }

.parte-uno .imagen-vertical-2 {
  display: none; }

.parte-uno #carouselExampleFade {
  background-color: #cfbeb9; }
  .parte-uno #carouselExampleFade .carousel-caption h2 {
    color: #ff7885; }

/* cambio la resolucion del video en .parte-dos */
.parte-dos iframe {
  width: 800px;
  height: 450px; }

/*estilos en store.html*/
.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px; }
  .productos .caja {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; }
    .productos .caja img {
      border: 10px double black; }
    .productos .caja .compra {
      margin-top: 20px;
      margin-bottom: 5px;
      padding: 10px;
      border: 2px solid black; }
      .productos .caja .compra:hover {
        background-color: #bbbbbb;
        transition: background-color 0.2s ease-in-out; }
      .productos .caja .compra:active {
        background-color: #2c2c2c;
        color: white; }

/* pseudoclase para .caja */
/*estilos de qa.html*/
.frente-QA {
  min-height: 100vh; }
  .frente-QA h1 {
    text-align: center; }
  .frente-QA .preguntas {
    margin-top: 50px;
    margin-left: 50px; }
    .frente-QA .preguntas ol {
      padding: 20px; }
  .frente-QA h2 {
    margin: 0; }

/* estilos de contacto.html */
.frente-contacto {
  height: 900px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.1fr 1fr;
  grid-gap: 10px; }
  .frente-contacto h1 {
    margin: 10px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: span 2;
    justify-self: center; }
  .frente-contacto .contacto {
    width: 300px;
    margin: auto; }
    .frente-contacto .contacto .comentario #campo {
      width: 300px;
      height: 300px; }
  .frente-contacto .direccion .link {
    width: 700px;
    height: 600px; }
  .frente-contacto .direccion p {
    margin: 0; }

/*defino el ancho de pantalla para tablet*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* estilos para el index */
  /* estructuro mi seccion de la pagina como grid */
  .entrada {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 0.2fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
    /* oculto la imagen que tenia en modo escritorio y muestro la imagen para la version tablet */ }
    .entrada h1 {
      margin: 10px;
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column: span 2;
      justify-self: center; }
    .entrada p {
      grid-column: span 1;
      justify-self: center;
      align-self: center; }
    .entrada .front {
      display: none; }
    .entrada .vertical {
      display: block;
      grid-column: 2; }
      .entrada .vertical img {
        max-width: 100%;
        height: auto;
        object-fit: cover; }
  /* estructuro mi segunda seccion de la pagina como grid */
  .news h2 {
    text-align: center; }
  .news .noticias {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: repeat(2, 0.5fr);
    gap: 10px; }
  /*estilos para nosotros.html */
  /* estructuro mi seccion de la pagina como grid */
  .parte-uno {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto; }
    .parte-uno p {
      grid-column: 1;
      align-self: center;
      padding: 0; }
    .parte-uno img {
      grid-column: 2; }
    .parte-uno #carouselExampleFade {
      display: none; }
    .parte-uno .imagen-vertical-1 {
      display: block; }
    .parte-uno .imagen-vertical-2 {
      display: block; }
  /* cambio la resolucion del video en .parte-dos */
  .parte-dos iframe {
    width: 600px;
    height: 338px; }
  /*estilos en store.html*/
  .productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px; }
  /*estilos para contacto.html */
  /*cambio la resolucion de la ventana de google maps y del text box para escribir comentarios de consultas*/
  .frente-contacto .contacto .comentario #campo {
    width: 300px;
    height: 100px; }
  .frente-contacto .direccion .link {
    width: 500px;
    height: 400px;
    max-width: 100%; } }

/*defino el ancho de pantalla para smartphone*/
@media screen and (max-width: 767px) {
  /* estilos para el index */
  /* estructuro mi seccion de la pagina como grid */
  .entrada {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr auto;
    padding-left: 10px;
    padding-right: 10px;
    /* oculto la imagen que tenia en modo escritorio y muestro la imagen para la version tablet */ }
    .entrada h1 {
      margin-top: 10px;
      justify-self: center;
      display: inline-block; }
    .entrada .cuerpo {
      padding: 10px; }
    .entrada .front {
      display: none; }
    .entrada .vertical {
      display: block; }
      .entrada .vertical img {
        max-width: 100%;
        height: auto;
        object-fit: cover; }
  /* estructuro mi seccion de la pagina como grid */
  .noticias {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center; }
    .noticias .noticia img {
      width: 300px;
      height: 245px; }
  /*estilos para nosotros.html */
  .parte-uno p {
    padding: 0; }
  .parte-uno .w-sm-75 {
    width: 75% !important; }
  .parte-uno .w-sm-100 {
    width: 100% !important; }
  /* cambio la resolucion del video en .parte-dos */
  .parte-dos iframe {
    width: 225px;
    height: 100px; }
  /** estilos para store.html */
  /* estructuro mi seccion de la pagina como grid */
  .productos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px; }
  /*estilos para contacto.html */
  .frente-contacto {
    display: inline-block; }
    .frente-contacto .contacto .comentario #campo {
      width: 300px;
      height: 100px; }
    .frente-contacto .direccion .link {
      width: 400px;
      height: 400px; }
  /*cambio la resolucion de la ventana de google maps y del text box para escribir comentarios de consultas*/ }

/* estilos de la etiqueta h*/
h1 {
  color: darkred; }

/* estilos en el header */
#arriba {
  background-color: black; }

/*estilos en el body */
.frente {
  /* --> la clase frente del main es compartida por todos menos qa.html y contacto.html */
  text-align: center;
  color: black; }

/* estilo para el footer */
footer {
  background-color: black;
  color: whitesmoke; }
  footer h3 {
    font-size: 1rem; }
  footer p {
    margin: 0; }

/* estilos del menu levantado de bootstrap */
.navbar .container-fluid .collapse .navbar-nav a {
  text-decoration: none;
  color: whitesmoke;
  transition: all 0.5s;
  background-image: linear-gradient(#cf1313, #d46565), linear-gradient(transparent, transparent);
  background-size: 0 2px, auto;
  background-repeat: no-repeat;
  background-position: bottom;
  transition: all 0.2s ease-out; }

.navbar .container-fluid .collapse .navbar-nav a:hover {
  opacity: 0.6;
  background-size: 100% 2px, auto; }

body {
  background-color: #fdf3e4;
  background-image: linear-gradient(315deg, #eedfca 0%, #f3f1f0 74%); }
