/* Código creado por Fernando Bruno - Comisión 52170 */

/* reset de página*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* estilos de la etiqueta h*/


h1{
    color:darkred;
}

/* estilos en el header */



#arriba{
    background-color: black;
}

/* estilo para el footer */

footer{
    background-color: gainsboro;
}



/* estilos del menu levantado de bootstrap */

.color-menu{
    color: whitesmoke;
}

.color-menu:hover{
    border-bottom: 2px solid gainsboro;
    color: whitesmoke;
}



/*estilos en index.html*/


.noticia{
    margin: 20px;
    text-align: center;
    display: inline-block;
}

.noticia img{
    width: 220px; 
    height: 165px;
}

.noticias{
    font-weight: bold;
}

.frente{ /* --> la clase frente del main es compartida por los html home, store, nosotros y contacto */
    background-color: gainsboro;
    text-align: center;
    color: black;
}



.entrada{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.vertical{
    display: none;
}


/*estilos en store.html*/


.productos{
    margin-top: 10px;
    padding-bottom: 30px;
}

.caja{
    background-color: whitesmoke;
    width: 240px;
    height: 240px;
    margin: 10px;
    border: 10px double black;
    margin-left: 100px;
    object-fit: cover;
    text-align: center;
    display: inline-block;
}

.comprar{
    margin-top: 20px;
    padding: 10px;
    border: 2px solid black;
}

.deseados{
    margin-top: 20px;
    padding: 10px;
    border: 2px solid black;
}


/*estilos de qa.html*/


.preguntas{
    margin-top: 50px;
    margin-left: 50px;
}

.frenteQA{
    background-color: gainsboro;
}

ol{
    padding: 20px;
}


/* estilos de contacto.html */


.contacto{
    width: 300px;
    margin: auto;
}

#campo{
    width: 300px;
    height: 100px;

}

.mapa{
    position: relative;
    bottom: 0;
}


@media screen and (min-width:768px) and (max-width:1024px){ /*defino el ancho de pantalla para tablet*/
    
    
    .entrada {
        display: grid;
        grid-template-columns: 20% 25% 55%;
        grid-template-rows: 0.2fr 1fr;
        
      }
      
      .entrada h1 {
        margin: 10px;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column: span 3;
        justify-self: center;
      }
      
      .entrada p {
        grid-column: span 2;
        justify-self: center;
        align-self: center;
      }
      
      .front{
        display: none;
      }

      .vertical {
        display: block;
        grid-column: 3;
        max-width: 100%;
        height: auto;
      }

}

@media screen and (max-width:768px){ /*defino el ancho de pantalla para smartphone*/
    
    
    .entrada {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.4fr 1fr;
        
      }
      
      .entrada h1 {
        grid-row: 1;
        margin-top: 10px;
        justify-self: center;
      }

      .entrada p{
        grid-row: 2;
      }
      

      
      .front{
        display: none;
      }

      .vertical {
        grid-row: 3;
        display: block;
        max-width: 100%;
        height: auto;
      }

}








