/* Código creado por Fernando Bruno - Comisión 52170 */

/* reset de página*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* estilos de la etiqueta h*/


h1 {
    color: darkred;
}

/* estilos en el header */



#arriba {
    background-color: black;
}

/* estilo para el footer */

footer {
    background-color: gainsboro;
}

footer p {
    margin: 0;
}




/* estilos del menu levantado de bootstrap */

.color-menu {
    color: whitesmoke;
}

.color-menu:hover {
    border-bottom: 2px solid gainsboro;
    color: whitesmoke;
}



/*estilos en index.html*/


.noticia {
    margin: 20px;
    text-align: center;
    display: inline-block;
}

.noticia p {
    margin-top: 5px;
}

.noticia img {
    width: 220px;
    height: 165px;
}

.noticia p:hover {
    background-color: rgb(189, 162, 162);
}

.noticias {
    font-weight: bold;
}

.frente {
    /* --> la clase frente del main es compartida por todos menos qa.html */
    background-color: gainsboro;
    text-align: center;
    color: black;
}

.news h2 {
    margin-top: 5px;
    font-weight: bold;
}

.entrada {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.vertical {
    display: none;
}

/* estilos en nosotros.html */

.parte-dos iframe {
    width: 800px;
    height: 450px;
}

.parte-uno img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}




/*estilos en store.html*/


.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.caja {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

.caja img{
    border: 10px double black;
}


.comprar {
    margin-top: 20px;
    padding: 10px;
    border: 2px solid black;
}

.deseados {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid black;
}


/*estilos de qa.html*/



.preguntas {
    margin-top: 50px;
    margin-left: 50px;
}

.frenteQA {
    background-color: gainsboro;
}

.frenteQA h2 {
    margin: 0;
}

ol {
    padding: 20px;
}


/* estilos de contacto.html */


.contacto {
    width: 300px;
    margin: auto;
}

.frente-contacto {
    height: 900px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.1fr 1fr;
    grid-gap: 10px;

}

.link {
    width: 700px;
    height: 600px;
}

.frente-contacto h1 {
    margin: 10px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: span 2;
    justify-self: center;
}

#campo {
    width: 300px;
    height: 300px;

}

.mapa {
    position: relative;
    bottom: 0;
}

.direccion p {
    margin: 0;
}


/* MEDIA QUERIES (APLICADO PARA EL INDEX)*/


@media screen and (min-width:768px) and (max-width:1024px) {
    /*defino el ancho de pantalla para tablet*/
    /* estilos para el index */


    .entrada {
        display: grid;
        grid-template-columns: 45% 55%;
        grid-template-rows: 0.2fr 1fr;

    }

    .entrada h1 {
        margin: 10px;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column: span 2;
        justify-self: center;
    }

    .entrada p {
        grid-column: span 1;
        justify-self: center;
        align-self: center;
    }

    .front {
        display: none;
    }

    .vertical {
        display: block;
        grid-column: 2;
    }

    .vertical img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

    .noticias {
        display: grid;
        grid-template-columns: repeat(2, 0.5fr);
        grid-template-rows: repeat(2, 0.5fr);
        gap: 10px;
    }

    .news h2 {
        text-align: center;
    }

    /*estilos para nosotros.html */


    .parte-dos iframe {
        width: 600px;
        height: 338px;
    }

    .parte-uno {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .parte-uno p {
        grid-column: 1;
        align-self: center;
    }

    .parte-uno img {
        grid-column: 2;
    }

    /*estilos en store.html*/


    .productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    }

    .caja button:hover{
        background-color: rgb(187, 187, 187);
    }

    .caja button:active{
        background-color: rgb(44, 44, 44);
        color: white;
    }


    /*estilos para contacto.html */

    .link {
        width: 500px;
        height: 400px;
        max-width: 100%;
    }

    #campo {
        width: 300px;
        height: 100px;
    }

}

@media screen and (max-width:767px) {

    /*defino el ancho de pantalla para smartphone*/
    /* estilos para el index */
    .entrada {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr auto;
    }


    .entrada h1 {
        margin-top: 10px;
        justify-self: center;
        display: inline-block;
    }

    .cuerpo {
        padding: 10px;
    }

    .noticias {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
    }

    .front {
        display: none;
    }

    .vertical {
        display: block;
    }

    .vertical img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

    .noticia img {
        width: 300px;
        height: 245px;
    }

    /*estilos para nosotros.html */



    .parte-dos iframe {
        width: 225px;
        height: 100px;
    }

    .productos {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }


    /*estilos para contacto.html */
    .frente-contacto {
        display: inline-block;
    }


    .link {
        width: 400px;
        height: 400px;
    }

    #campo {
        width: 300px;
        height: 100px;
    }


}