// pagina principal de mi scss
/* Código creado por Fernando Bruno - Comisión 52170 */

/* reset de página*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


@import "html/home";
@import "html/nosotros";
@import "html/store";
@import "html/qa";
@import "html/contacto";
@import "media_queries/tablet";
@import "media_queries/smartphone";


/* estilos de la etiqueta h*/


h1 {
    color: darkred;
}

/* estilos en el header */



#arriba {
    background-color: black;
}

/* estilo para el footer */

footer {
    background-color: black;
    color: whitesmoke;
}

footer p {
    margin: 0;
}


/* estilos del menu levantado de bootstrap */

.color-menu {
    color: whitesmoke;
}

.color-menu:hover {
    border-bottom: 2px solid gainsboro;
    color: whitesmoke;
}

body{
    background-color: #f9d29d;
background-image: linear-gradient(315deg, #f9d29d 0%, #ffd8cb 74%);

}
