// pagina principal de mi scss
/* Código creado por Fernando Bruno - Comisión 52170 */

/* reset de página*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

//import de mis html 
@import "html/home";
@import "html/nosotros";
@import "html/store";
@import "html/qa";
@import "html/contacto";

//import de mis media queries
@import "media_queries/tablet";
@import "media_queries/smartphone";

//import de utilidades (variables, mixin y extend)
@import "../scss/utilidades/variables";
@import "../scss/utilidades/mixin";
@import "../scss/utilidades/extend";



/* estilos de la etiqueta h1*/


h1 {
    color: $color-h1;
}

/* estilos en el header */


#arriba {
    background-color: $color-secundario;
}

/*estilos en el body */

.frente {
    /* --> la clase frente del main es compartida por todos menos qa.html y contacto.html */
    text-align: center;
    color: $color-texto-dos;
}

/* estilo para el footer */

footer {
    background-color: $color-secundario;
    color: $color-texto-uno;

    h3 {
        font-size: 1rem;
    }

    p {
        margin: 0;
    }

}



/* estilos del menu levantado de bootstrap */

//animación para cuando pongo el cursor encima del menú
.navbar {
    .container-fluid {
        .collapse {
            .navbar-nav {
                a {
                    @extend %subrayado;
                    color: $color-texto-uno;
                }

                a:hover {
                    @extend %efecto-sub;
                }
            }
        }
    }
}


body {
    background-color: $color-principal;
    background-image: linear-gradient(315deg, #eedfca 0%, #f3f1f0 74%);

}