//estilos de mi pagina contacto

//import de mixin y extend
@import "../utilidades/mixin";
@import "../utilidades/extend";

/* estilos de contacto.html */


.frente-contacto {
    height: 900px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.1fr 1fr;
    grid-gap: 10px;

    h1 {
        margin: 10px;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column: span 2;
        justify-self: center;
    }

    .contacto {
        width: 300px;
        margin: auto;

        .comentario {
            #campo {
                @include box(300px, 300px);
            }
        }
    }

    .direccion {
        .link {
            @include box(700px, 600px);
        }

        p {
            margin: 0;
        }
    }
}