//import de mixin y extend

@import "../utilidades/extend";
@import "../utilidades/mixin";

// estilos de mi pagina principal home

/*estilos en index.html*/



.entrada {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
    @include pad(150px, 150px);

    .cuerpo {
        font-size: 20px;
    }

    .vertical {
        display: none;
    }

}


.news {
    h2 {
        margin-top: 5px;
        font-weight: bold;
    }

    .noticias {
        font-weight: bold;

        .noticia {
            margin: 20px;
            text-align: center;
            display: inline-block;

            p {
                margin-top: 5px;
                @extend %subrayado;
                color: $color-texto-dos;

                &:hover {
                    @extend %efecto-sub;
                }
            }

            img {
                @include box(220px, 165px);
            }



        }
    }
}