/* estilos en nosotros.html */

/* cambio la resolucion del video en .parte-dos */

.parte-dos iframe {
    width: 800px;
    height: 450px;
}

.parte-uno img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}


