// estilos de mi pagina nosotros
@import "../utilidades/variables";

/* estilos en nosotros.html */

/* cambio la resolucion del video en .parte-dos */

.parte-dos {
    iframe {
    width: 800px;
    height: 450px;
    }
}

.parte-uno{
    img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    }
    p{
        font-size: 20px;
    padding-left: 150px;
    padding-right: 150px;
    }

} 
.imagen-vertical-1{
    display: none;
}
.imagen-vertical-2{
    display: none;
}

#carouselExampleFade{
    background-color: #cfbeb9;
}

.carousel-caption{
    h2{
        color: #ff7885;
    }
}

