// estilos de mi pagina de q&a

/*estilos de qa.html*/

.preguntas {
    margin-top: 50px;
    margin-left: 50px;
}

.frente-QA {
    h1 {
        text-align: center;
    }
    h2 {
        margin: 0;
    }
}

ol {
    padding: 20px;
}
