// estilos de mi pagina de q&a

/*estilos de qa.html*/


.frente-QA {

    h1 {
        text-align: center;
    }
    .preguntas {
        margin-top: 50px;
        margin-left: 50px;
        ol {
            padding: 20px;
        }
    }
    h2 {
        margin: 0;
    }
    min-height: 100vh;

}
