//inclusion de mixin y extend
@import "../utilidades/extend";
@import "../utilidades/mixin";


//media queries para smartphone exclusivamente

/*defino el ancho de pantalla para smartphone*/

@media screen and (max-width:767px) {

    /* estilos para el index */

    /* estructuro mi seccion de la pagina como grid */

    .entrada {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr auto;
        @include pad(10px, 10px);

        h1 {
            margin-top: 10px;
            justify-self: center;
            display: inline-block;
        }

        .cuerpo {
            padding: 10px;
        }
        .front {
            display: none;
        }
        /* oculto la imagen que tenia en modo escritorio y muestro la imagen para la version tablet */
        .vertical {
            display: block;
    
            img {
                max-width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }

    /* estructuro mi seccion de la pagina como grid */

    .noticias {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        .noticia{
            img{
                @include box(300px, 245px);
            }
        }
    }

    /*estilos para nosotros.html */

    .parte-uno {
        p {
            padding: 0;
        }
        .w-sm-75 {
            width: 75% !important;
        }
    
        .w-sm-100 {
            width: 100% !important;
        }
    
    }

    /* cambio la resolucion del video en .parte-dos */

    .parte-dos iframe {
        @include box(225px, 120px);
    }

    /** estilos para store.html */
    
    /* estructuro mi seccion de la pagina como grid */

    .productos {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }


    /*estilos para contacto.html */

    .frente-contacto {
        display: inline-block;
        .contacto{
           .comentario {
            #campo {
                @include box (300px, 100px);
            }
        } 
        }
        
        .direccion {
            .link {
                @include box (400px, 400px);
            }
        }
    }








}