//inclusion de mixin y extend
@import "../utilidades/extend";
@import "../utilidades/mixin";
//media queries para tablet exclusivamente

/*defino el ancho de pantalla para tablet*/

@media screen and (min-width:768px) and (max-width:1024px) {

    /* estilos para el index */
    /* estructuro mi seccion de la pagina como grid */

    .entrada {
        display: grid;
        grid-template-columns: 45% 55%;
        grid-template-rows: 0.2fr 1fr;
        @include pad(20px, 20px);

        h1 {
            margin: 10px;
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column: span 2;
            justify-self: center;
        }

        p {
            grid-column: span 1;
            justify-self: center;
            align-self: center;
        }

        .front {
            display: none;
        }

        /* oculto la imagen que tenia en modo escritorio y muestro la imagen para la version tablet */
        .vertical {
            display: block;
            grid-column: 2;

            img {
                max-width: 100%;
                height: auto;
                object-fit: cover;
            }
        }

    }

    /* estructuro mi segunda seccion de la pagina como grid */

    .news {
        h2 {
            text-align: center;
        }

        .noticias {
            display: grid;
            grid-template-columns: repeat(2, 0.5fr);
            grid-template-rows: repeat(2, 0.5fr);
            gap: 10px;
        }
    }

    /*estilos para nosotros.html */

    /* estructuro mi seccion de la pagina como grid */

    .parte-uno {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;

        p {
            grid-column: 1;
            align-self: center;
            padding: 0;
        }

        img {
            grid-column: 2;
        }
        #carouselExampleFade {
            display: none;
        }
    
        .imagen-vertical-1, .imagen-vertical-2 {
            display: block;
        }
    
    }

    /* cambio la resolucion del video en .parte-dos */

    .parte-dos iframe {
        @include box(600px, 338px);
    }

    /*estilos en store.html*/

    .productos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
    }

    /*estilos para contacto.html */

    /*cambio la resolucion de la ventana de google maps y del text box para escribir comentarios de consultas*/

    .frente-contacto {
        .contacto {
            .comentario {
                #campo {
                    @include box(300px, 100px);
                }
            }
        }

        .direccion {
            .link {
                @include box(500px, 400px);
                max-width: 100%;
            }
        }
    }

}