// estilos de mixin
// para alto y ancho
@mixin box($width, $height){
    width: $width;
    height: $height;
}

//para padding

@mixin pad($left, $right){
    padding-left: $left;
    padding-right: $right;
}

//para flex

@mixin flexing($display, $justi, $align){
    display: $display;
    justify-content: $justi;
    align-items: $align;
}