// paleta de colores

//color principal
$color-principal: #fdf3e4;


//color header, footer

$color-secundario: black;


//color letra de h1

$color-h1: darkred;

//color de letras

$color-texto-uno: whitesmoke;
$color-texto-dos: black;